{% extends 'workflow/base.html' %}
{% block extra_loads %}
{% load crispy_forms_tags %}
{% endblock %}
{% block form_name %}
Judgement form
{% endblock %}
{% block content %}
<form  action="{% url 'judgement_form' %}" method="post" id="form">
  {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" name="answer_start" value="{% now "Y-m-d H:i:s.u" %}">
    <input type="hidden" name="workflow" value="{{workflow.id}}">
    <input type="hidden" name="rated" value="{{rater_id}}">
    <input type="hidden" name="item" value="{{item.id}}">
  <input type="submit" value="Submit" id="submit" class="btn btn-success">
</form>
{% endblock %}
