{% extends 'workflow/base.html' %}
{% block extra_loads %}
{% load crispy_forms_tags %}
{% endblock %}
{% block form_name %}
Sign up
{% endblock %}
{% block content %}

<form  action="{% url 'sign_up' %}" method="post" id="form">
  {% csrf_token %}
     <table style="width:100px">
         {{ form|crispy }}
     </table>
  <input type="submit" value="Submit" id="submit" class="btn btn-success">
</form>
    <h3>Already got an account? Please, <a href="{% url 'sign_in' %}">sign in</a>.</h3>

{% endblock %}
